{{!-- {{> menu}} --}}
		<h1>{{title}}</h1>
		<p>Welcome! {{title}}</p>
		<a href="/users/create">Добавить пользователя</a>
		<a href="/users">К списку пользователей</a>
		 <div>{{getTime}}</div>
{{!-- {{> footer}} --}}
