<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav><a href="/">Главная</a> | <a href="/test">Контакты</a></nav>
    {{{body}}}
    <footer><p>Hey - Copyright © 2021</p></footer>
  </body>
</html>
